In [2]:
#Exercício 1.1
z = False+True
print (z, type (z))

1 <class 'int'>

In [3]:
#Exercício 1.2

ano = int(input('Digite um valor entre 0 e 3000: '))
if ano%4 == 0:
     y = 'Pode ser um ano bissexto'
else:
    y = 'Definitivamente não é um ano bissexto'

print (y)

Digite um valor entre 0 e 3000: 50
Definitivamente não é um ano bissexto

In [1]:
#Exercício 1.3
#PEDIR AJUDA
valores = ['três', 56, 342, 12.4e-5, 4+3j, ('A', 1, 50.1), -0.19e4, 1000, 960, -406]
numeros = []
for i in valores:
    if (type(i) == float or type(i) == int):
        numeros.append(i)
        
print(numeros)

[56, 342, 0.000124, -1900.0, 1000, 960, -406]

In [8]:
#Exercício 1.4
#Dada a lista valores abaixo, crie uma nova lista chamada numeros contendo apenas elementos float ou int.
#Note que essa nova lista pode ter menos elementos do que a lista existente.
#Ao final exiba a nova lista numeros
#Dica: Percorra a lista com uma estrutura de repetição e utilize type() para retornar o tipo e compare com o desejado. Exemplo:

#type(3) == int
#Retorna True

In [9]:
valores = ['três', 56, 342, 12.4e-5, 4+3j, ('A', 1, 50.1), -0.19e4, 1000, 960, -406]

In [10]:
numeros = []
for i in valores:
    if (type(i) == float or type(i) == int):
        numeros.append(i)
        
print(numeros)

[56, 342, 0.000124, -1900.0, 1000, 960, -406]

In [4]:
#Exercício 1.5
#Considere a lista linguagens declarada abaixo.
#Utilizando fatiamento, imprima o subconjunto de elementos entre o segundo e o quarto elemento (inclusive)
#Gere uma nova lista chamada maiores4 contendo os elementos da lista linguagens que possuam quatro caracteres ou mais, utilizando a função len().
#Gere uma nova lista chamada j_ou_c contendo os elementos da lista linguagens que começam com a letra 'j' ou com a letra 'c'.

linguagens = ['python', 'java', 'c++', 'javascript', 'c#', 'go', 'r', 'cobol', 'ruby', 'lisp']
print(linguagens[1:4])

['java', 'c++', 'javascript']

In [6]:
maiores4 = []
for i in linguagens:
    if(len(i)>=4):
        maiores4.append(i)
print(maiores4)

['python', 'java', 'javascript', 'cobol', 'ruby', 'lisp']

In [18]:
j_ou_c = []
for elemento in linguagens:
    if  (elemento[0]=='j'):
        j_ou_c.append(elemento)
    if  (elemento[0]=='c'):
        j_ou_c.append(elemento)
print(j_ou_c)

['java', 'c++', 'javascript', 'c#', 'cobol']

In [16]:
(linguagens[1][0]=='j')

True

In [4]:
#Exercício 1.6
nomes = "ana,fábio,cristina,ana,fábio,ubiratã,ana"
nomes.split(,)

SyntaxError: invalid syntax (<ipython-input-4-04bddfa03415>, line 3)

In [5]:
def conta_palavras(frase):
    pals = frase.split(',')
    freq = {}
    
    for p in pals:
        if p not in freq:
            freq[p] = 1
        else:
            freq[p] += 1
            
    return freq

nomes = "ana,fábio,cristina,ana,fábio,ubiratã,ana"
freq = conta_palavras(nomes)
print(freq)

{'ana': 3, 'fábio': 2, 'cristina': 1, 'ubiratã': 1}

In [14]:
#Exercício 1.7
produtos = [('soja', [170.1, 183.0, 175.0]),
            ('algodao', [143.4]),
            ('cacau', [199, 185.1]),
            ('café', [880, 750.9, 795.1, 900])]

from math import fsum
from random import randint

preco_medio = []
for p in produtos:
    media = fsum(p[1])/len(p[1])
    preco_medio.append(media)

sorteio = randint(0,len(produtos)-1)
print(produtos[sorteio][0], "preço médio=", preco_medio[sorteio])

soja preço médio= 176.03333333333333

In [12]:
#Exercício 1.7
produtos = [('soja', [170.1, 183.0, 175.0]),
            ('algodao', [143.4]),
            ('cacau', [199, 185.1]),
            ('café', [880, 750.9, 795.1, 900])]
for p in produtos:
    print (p[1])
len(produtos)

[170.1, 183.0, 175.0]
[143.4]
[199, 185.1]
[880, 750.9, 795.1, 900]

4

In [61]:
#Avaliação - Questão 1
lv = [('BRA', 'DFD-2992', 12, 2021, 999.0),
      ('ARG', '1112992', 1, 2022, 899.0),
      ('EUA', 'AB3DA000', 11, 2021, 1023.0),
      ('BRA', 'GCG-1112', 9, 2021, 900.0),
      ('ESP', 'DFD-2992', 11, 2021, 899.0),
      ('URU', 'AEC423', 3, 2023, 699.0),
      ('PAR', 'DFD-2992', 2, 2025, 1099.0),
      ('ARL', 'X123111Z', 10, 2021, 954.0),
      ('URU', 'BAC203', 2, 2025, 1011.0),
      ('ARG', '3112323', 10, 2021, 1250.0),
      ('URU', 'ABC123', 12, 2024, 1001.5),
      ('BRA', 'AAB-2992', 8, 2021, 1050.9),
      ('BRA', 'EFE-2992', 8, 2022, 1170.1),
      ('VEN', 'GAC292', 4, 2023, 1000.6),
      ('PER', '2992DDE', 9, 2021, 989.9)]
precos = []
for i in lv:
    precos.append(i[4])
print(precos)

[999.0, 899.0, 1023.0, 900.0, 899.0, 699.0, 1099.0, 954.0, 1011.0, 1250.0, 1001.5, 1050.9, 1170.1, 1000.6, 989.9]

In [153]:
média = sum(precos)/len(precos)
print(média)

996.4

In [63]:
#Avaliação Questão 2
vencidos=[]
for i in lv:
    if(i[2]<=12 and i[3]<=2021):
        vencidos.append(i[0])
print(vencidos)

['BRA', 'EUA', 'BRA', 'ESP', 'ARL', 'ARG', 'BRA', 'PER']

In [47]:
def conta_vencidos(vencidos):
    pals = vencidos.split(',')
    freq = {}
    
    for p in pals:
        if p not in freq:
            freq[p] = 1
        else:
            freq[p] += 1
            
    return freq

vencidos = "BRA,EUA,BRA,ESP,ARL,ARG,BRA,PER"
freq = conta_vencidos(vencidos)
print(freq)

{'BRA': 3, 'EUA': 1, 'ESP': 1, 'ARL': 1, 'ARG': 1, 'PER': 1}

In [109]:
#Avaliação Questão 3
for i in lv:
    print(i[2],'/',i[3])

12 / 2021
1 / 2022
11 / 2021
9 / 2021
11 / 2021
3 / 2023
2 / 2025
10 / 2021
2 / 2025
10 / 2021
12 / 2024
8 / 2021
8 / 2022
4 / 2023
9 / 2021

In [161]:
datas = []
for i in lv:
    datas.append(i[2]),datas.append(i[3])
print(datas)

[12, 2021, 1, 2022, 11, 2021, 9, 2021, 11, 2021, 3, 2023, 2, 2025, 10, 2021, 2, 2025, 10, 2021, 12, 2024, 8, 2021, 8, 2022, 4, 2023, 9, 2021]

In [207]:
datas1 = []
for i in lv:
        datas1.append(i[2:4])
print(datas1)

[(12, 2021), (1, 2022), (11, 2021), (9, 2021), (11, 2021), (3, 2023), (2, 2025), (10, 2021), (2, 2025), (10, 2021), (12, 2024), (8, 2021), (8, 2022), (4, 2023), (9, 2021)]

In [217]:
seq = 'adeakziomltmd'

seq_ordenada_lista = sorted(seq) # ordena a sequência de caracteres e salva em uma nova variavel. 
                           # A saida do método é uma lista
                           # A sequência original não é afetada
print('Sequencia ordenanda: ', seq_ordenada_lista) 
print('Sequencia original: ', seq)
print(type(seq),type(seq_ordenada_lista))

# Convertendo uma lista em uma sequência de caracteres (string)
seq_ordenada ='*'.join(seq_ordenada_lista)  # o comando join contatena elementos em uma string utilizando um separador.
                                           # Neste caso o separador nao é fornecido, logo os caracteres ficam "colados".
                                           # Rode o comando com '*'.join(seq_ordenada_lista) e veja o resultado
print("Sequencia ordenada no formato string: ",seq_ordenada)

seq_max = max(seq)  # retorna o maior elemento da sequência
print('Maior elemento: ', seq_max)
seq_min = min(seq)  # retorna o menor elemento da sequência
print('Menor elemento: ', seq_min)

Sequencia ordenanda:  ['a', 'a', 'd', 'd', 'e', 'i', 'k', 'l', 'm', 'm', 'o', 't', 'z']
Sequencia original:  adeakziomltmd
<class 'str'> <class 'list'>
Sequencia ordenada no formato string:  a*a*d*d*e*i*k*l*m*m*o*t*z
Maior elemento:  z
Menor elemento:  a

In [78]:
#Exercício 1.8
import pandas as pd
dados = pd.read_csv (r'C:\Users\d016734\Downloads\WorldCups.csv')
df = pd.DataFrame(dados, columns= ['Year'])
print (df)

    Year
0   1930
1   1934
2   1938
3   1950
4   1954
5   1958
6   1962
7   1966
8   1970
9   1974
10  1978
11  1982
12  1986
13  1990
14  1994
15  1998
16  2002
17  2006
18  2010
19  2014

In [219]:
dados = pd.read_csv (r'C:\Users\d016734\Downloads\WorldCups.csv')
dados

,Year,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810

In [6]:
dados.head()

,Year,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607

In [7]:
dados.dtypes

Year               int64
Country           object
Winner            object
RunnersUp         object
Third             object
Fourth            object
GoalsScored        int64
QualifiedTeams     int64
MatchesPlayed      int64
Attendance         int64
dtype: object

In [8]:
dados.shape

(20, 10)

In [7]:
dados

,Year,Country,Winner,RunnersUp,Third,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,88,13,22,1045246
4,1954,Switzerland,Germany FR,Hungary,Austria,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,89,16,32,893172
7,1966,England,England,Germany FR,Portugal,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany FR,95,16,32,1603975
9,1974,Germany,Germany FR,Netherlands,Poland,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,102,16,38,1545791
11,1982,Spain,Italy,Germany FR,Poland,146,24,52,2109723
12,1986,Mexico,Argentina,Germany FR,France,132,24,52,2394031
13,1990,Italy,Germany FR,Argentina,Italy,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,171,32,64,2785100
16,2002,Korea/Japan,Brazil,Germany,Turkey,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,171,32,64,3386810

In [8]:
dados.drop('QualifiedTeams', axis=1)

,Year,Country,Winner,RunnersUp,Third,GoalsScored,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,70,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,70,17,363000
2,1938,France,Italy,Hungary,Brazil,84,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,88,22,1045246
4,1954,Switzerland,Germany FR,Hungary,Austria,140,26,768607
5,1958,Sweden,Brazil,Sweden,France,126,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,89,32,893172
7,1966,England,England,Germany FR,Portugal,89,32,1563135
8,1970,Mexico,Brazil,Italy,Germany FR,95,32,1603975
9,1974,Germany,Germany FR,Netherlands,Poland,97,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,102,38,1545791
11,1982,Spain,Italy,Germany FR,Poland,146,52,2109723
12,1986,Mexico,Argentina,Germany FR,France,132,52,2394031
13,1990,Italy,Germany FR,Argentina,Italy,115,52,2516215
14,1994,USA,Brazil,Italy,Sweden,141,52,3587538
15,1998,France,France,Brazil,Croatia,171,64,2785100
16,2002,Korea/Japan,Brazil,Germany,Turkey,161,64,2705197
17,2006,Germany,Italy,France,Germany,147,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,145,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,171,64,3386810

In [14]:
dados.set_index('Year', inplace=True)
dados

,Country,Winner,RunnersUp,Third,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,70,16,17,363000
1938,France,Italy,Hungary,Brazil,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,140,16,26,768607
1958,Sweden,Brazil,Sweden,France,126,16,35,819810
1962,Chile,Brazil,Czechoslovakia,Chile,89,16,32,893172
1966,England,England,Germany FR,Portugal,89,16,32,1563135
1970,Mexico,Brazil,Italy,Germany FR,95,16,32,1603975
1974,Germany,Germany FR,Netherlands,Poland,97,16,38,1865753
1978,Argentina,Argentina,Netherlands,Brazil,102,16,38,1545791
1982,Spain,Italy,Germany FR,Poland,146,24,52,2109723
1986,Mexico,Argentina,Germany FR,France,132,24,52,2394031
1990,Italy,Germany FR,Argentina,Italy,115,24,52,2516215
1994,USA,Brazil,Italy,Sweden,141,24,52,3587538
1998,France,France,Brazil,Croatia,171,32,64,2785100
2002,Korea/Japan,Brazil,Germany,Turkey,161,32,64,2705197
2006,Germany,Italy,France,Germany,147,32,64,3359439
2010,South Africa,Spain,Netherlands,Germany,145,32,64,3178856
2014,Brazil,Germany,Argentina,Netherlands,171,32,64,3386810

In [26]:
dados.iloc[:,1]

Year
1930       Uruguay
1934         Italy
1938         Italy
1950       Uruguay
1954    Germany FR
1958        Brazil
1962        Brazil
1966       England
1970        Brazil
1974    Germany FR
1978     Argentina
1982         Italy
1986     Argentina
1990    Germany FR
1994        Brazil
1998        France
2002        Brazil
2006         Italy
2010         Spain
2014       Germany
Name: Winner, dtype: object

In [28]:
dados

,Country,Winner,RunnersUp,Third,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,70,16,17,363000
1938,France,Italy,Hungary,Brazil,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,140,16,26,768607
1958,Sweden,Brazil,Sweden,France,126,16,35,819810
1962,Chile,Brazil,Czechoslovakia,Chile,89,16,32,893172
1966,England,England,Germany FR,Portugal,89,16,32,1563135
1970,Mexico,Brazil,Italy,Germany FR,95,16,32,1603975
1974,Germany,Germany FR,Netherlands,Poland,97,16,38,1865753
1978,Argentina,Argentina,Netherlands,Brazil,102,16,38,1545791
1982,Spain,Italy,Germany FR,Poland,146,24,52,2109723
1986,Mexico,Argentina,Germany FR,France,132,24,52,2394031
1990,Italy,Germany FR,Argentina,Italy,115,24,52,2516215
1994,USA,Brazil,Italy,Sweden,141,24,52,3587538
1998,France,France,Brazil,Croatia,171,32,64,2785100
2002,Korea/Japan,Brazil,Germany,Turkey,161,32,64,2705197
2006,Germany,Italy,France,Germany,147,32,64,3359439
2010,South Africa,Spain,Netherlands,Germany,145,32,64,3178856
2014,Brazil,Germany,Argentina,Netherlands,171,32,64,3386810

In [41]:
dados.iloc[4:12,1:2]

          Winner
Year
1954  Germany FR
1958      Brazil
1962      Brazil
1966     England
1970      Brazil
1974  Germany FR
1978   Argentina
1982       Italy

In [220]:
copa = pd.read_csv (r'C:\Users\d016734\Downloads\WorldCupMatches.csv')
copa

,Year,Datetime,Stage,Stadium,City,HomeTeamName,HomeTeamGoals,AwayTeamGoals,AwayTeamName,WinConditions,Attendance,HalfTimeHomeGoals,HalfTimeAwayGoals,Referee,Assistant1,Assistant2,RoundID,MatchID,HomeTeamInitials,AwayTeamInitials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,2014,05 Jul 2014 - 13:00,Quarter-finals,Estadio Nacional,Brasilia,Argentina,1,0,Belgium,,68551.0,1,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255953,300186504,ARG,BEL
832,2014,29 Jun 2014 - 13:00,Round of 16,Estadio Castelao,Fortaleza,Netherlands,2,1,Mexico,,58817.0,0,0,PROENCA Pedro (POR),MIRANDA Bertino (POR),TRIGO Jose (POR),255951,300186508,NED,MEX
833,2014,29 Jun 2014 - 17:00,Round of 16,Arena Pernambuco,Recife,Costa Rica,1,1,Greece,Costa Rica win on penalties (5 - 3),41242.0,0,0,Ben WILLIAMS (AUS),CREAM Matthew (AUS),ANAZ Hakan (AUS),255951,300186459,CRC,GRE
834,2014,01 Jul 2014 - 13:00,Round of 16,Arena de Sao Paulo,Sao Paulo,Argentina,1,0,Switzerland,Argentina win after extra time,63255.0,0,0,ERIKSSON Jonas (SWE),KLASENIUS Mathias (SWE),WARNMARK Daniel (SWE),255951,300186503,ARG,SUI
835,2014,01 Jul 2014 - 17:00,Round of 16,Arena Fonte Nova,Salvador,Belgium,2,1,USA,Belgium win after extra time,51227.0,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,300186497,BEL,USA

In [222]:
copa.shape

(836, 20)

In [237]:
copa.dtypes

Year                   int64
Datetime              object
Stage                 object
Stadium               object
City                  object
HomeTeamName          object
HomeTeamGoals          int64
AwayTeamGoals          int64
AwayTeamName          object
WinConditions         object
Attendance           float64
HalfTimeHomeGoals      int64
HalfTimeAwayGoals      int64
Referee               object
Assistant1            object
Assistant2            object
RoundID                int64
MatchID                int64
HomeTeamInitials      object
AwayTeamInitials      object
dtype: object

In [238]:
copa['TotalGoals'] = 
copa

SyntaxError: invalid syntax (<ipython-input-238-4141021667fc>, line 1)

In [244]:
copa.iloc[0:836,6:8]

     HomeTeamGoals  AwayTeamGoals
0                4              1
1                3              0
2                2              1
3                3              1
4                1              0
..             ...            ...
831              1              0
832              2              1
833              1              1
834              1              0
835              2              1

[836 rows x 2 columns]

In [253]:
#Respostas Avaliação:
#1 - 996,4 (a)
#2 - 3, 1, 4 (a)
#3 - 6 (c)
#4 - 20 colunas, 8 numéricas (c)
#5 - 4 jogos, 1954 (e)